In [1]:
import pandas as pd

# Define the file path
file_path = '/Users/kudzanaikutsanzira/Downloads/Data for the Capstone Project /API_Download_DS2_en_csv_v2_23907/API_Download_DS2_en_csv_v2_23907.csv'

# Attempt to load the CSV with skiprows and delimiter specification
df = pd.read_csv(file_path, skiprows=4, delimiter=',')

# Display the first few rows of the data
print(df.head())

  Country Name Country Code  \
0       Angola          AGO
1       Angola          AGO
2       Angola          AGO
3       Angola          AGO
4       Angola          AGO

                                      Indicator Name     Indicator Code  1960  \
0  Intentional homicides, female (per 100,000 fem...  VC.IHR.PSRC.FE.P5   NaN
1           Battle-related deaths (number of people)        VC.BTL.DETH   NaN
2          Voice and Accountability: Percentile Rank         VA.PER.RNK   NaN
3  Transport services (% of commercial service ex...  TX.VAL.TRAN.ZS.WT   NaN
4  Computer, communications and other services (%...  TX.VAL.OTHR.ZS.WT   NaN

   1961  1962  1963  1964  1965  ...       2015       2016       2017  \
0   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
1   NaN   NaN   NaN   NaN   NaN  ...        NaN  25.000000  25.000000
2   NaN   NaN   NaN   NaN   NaN  ...  15.270936  16.748768  18.226601
3   NaN   NaN   NaN   NaN   NaN  ...   2.013874   4.590600   2.347390
4   NaN   NaN   NaN   NaN   NaN  ...   5.425357   7.798874   8.233131

        2018       2019       2020       2021       2022       2023  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN  25.000000  21.000000        NaN  20.000000        NaN
2  22.815535  25.120773  25.603865  24.154589  26.570047        NaN
3   4.421110   7.003774  12.732683  15.679087  23.496554  30.637505
4   9.394259   8.513262  63.071646  60.504332  52.586799  59.439164

   Unnamed: 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 69 columns]

In [5]:
# Display the columns of the dataframe
df.columns.tolist()

['Country Name',
 'Country Code',
 'Indicator Name',
 'Indicator Code',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 'Unnamed: 68']

In [2]:
# Drop the unnecessary column
df = df.drop(columns=['Unnamed: 68'])

# Reshape the dataset to a tidy format
df_tidy = df.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                      var_name='Year', value_name='Value')

# Convert 'Year' to a numeric type for easier filtering and plotting
df_tidy['Year'] = pd.to_numeric(df_tidy['Year'], errors='coerce')

# Handle missing values (example: drop rows with missing values in 'Value' column)
df_tidy = df_tidy.dropna(subset=['Value'])

# Preview the cleaned data
print(df_tidy.head())

   Country Name Country Code  \
5        Angola          AGO
6        Angola          AGO
7        Angola          AGO
12       Angola          AGO
13       Angola          AGO

                                       Indicator Name     Indicator Code  \
5   Merchandise exports by the reporting economy, ...  TX.VAL.MRCH.RS.ZS
6   Merchandise exports to low- and middle-income ...  TX.VAL.MRCH.R3.ZS
7   Merchandise exports to high-income economies (...  TX.VAL.MRCH.HI.ZS
12  Merchandise imports by the reporting economy (...  TM.VAL.MRCH.WL.CD
13  Merchandise imports from low- and middle-incom...  TM.VAL.MRCH.R4.ZS

    Year         Value
5   1960  4.136253e+00
6   1960  8.110300e-02
7   1960  8.775345e+01
12  1960  1.275000e+08
13  1960  4.705882e-01

In [3]:
# Check for missing values across all columns
missing_values = df.isnull().sum()

# Display columns with missing values and their counts
print("Missing values per column:")
print(missing_values[missing_values > 0])

# Check percentage of missing values to understand the extent
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("\nPercentage of missing values per column:")
print(missing_percentage[missing_percentage > 0])

# Analyze missing data in the reshaped 'df_tidy' (after running the melt transformation)
df_tidy = df.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                  var_name='Year', value_name='Value')
missing_tidy = df_tidy['Value'].isnull().sum()
print(f"\nMissing values in 'Value' column of tidy data: {missing_tidy}")

Missing values per column:
1960    17260
1961    16969
1962    16917
1963    16848
1964    16714
        ...
2019     6270
2020     7453
2021     8040
2022     9727
2023    14911
Length: 64, dtype: int64

Percentage of missing values per column:
1960    88.749486
1961    87.253188
1962    86.985808
1963    86.631016
1964    85.941999
          ...
2019    32.239819
2020    38.322707
2021    41.341012
2022    50.015426
2023    76.671123
Length: 64, dtype: float64

Missing values in 'Value' column of tidy data: 737608

In [4]:
import logging

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Creating Class to encapsulate
class DataFrameOperations:
    def convert_columns_lower(self, sheet_df):
        logging.info("Converting Columns to Lowercase")
        sheet_df.columns = sheet_df.columns.str.replace(' ', '_').str.replace(r'(?<!^)(?=[A-Z])', '_').str.lower()
        return sheet_df

In [5]:
 def remove_duplicates(self, sheet_df, columns):
        logging.info(f"Duplicates before removal: {sheet_df.duplicated(subset=columns, keep='first').sum()}")	
        sheet_df.drop_duplicates(subset=columns, keep='first', inplace=True)
        return sheet_df

In [6]:
def remove_unused_columns(self, sheet_df, columns):
        logging.info(f"Removing Columns: {columns}")
        sheet_df.drop(columns, axis=1, inplace=True, errors='ignore')
        return sheet_df

In [7]:
def melt_data(self, sheet_df, id_vars, var_name, value_name):
        logging.info("Melting Data")
        sheet_df = pd.melt(sheet_df, id_vars=id_vars, var_name=var_name, value_name=value_name)
        logging.info(f"Columns after Melting Data: {sheet_df.columns}")
        return sheet_df

In [10]:
 def replace_colvalues(self, sheet_df, columns):
        logging.info(f"Before Replacing Column Values: {sheet_df[columns].head(1)}")
        sheet_df[columns] = sheet_df[columns].str.replace(r"(\d{4})_\[yr\d{4}\]", r"\1", regex=True)
        logging.info(f"After Replacing Column Values: {sheet_df[columns].head(1)}")
        return sheet_df

In [11]:
 def interpolate_na_rows(self, sheet_df, columns):
        logging.info(f"Interpolating N/A Columns: {columns}")
        sheet_df[columns].interpolate(method='polynomial', order=2, inplace=True)
        return sheet_df

In [12]:
def standardize_data_types(self, sheet_df, columns):
        logging.info("Standardizing Data Types")
        for column, dtype in columns.items():
            if column in sheet_df.columns:
                sheet_df[column] = sheet_df[column].astype(dtype)
        return sheet_df

In [13]:
 def convert_datetime(self, sheet_df, columns):
        logging.info(f"Converting Datetime Columns: {columns}")
        sheet_df[columns] = pd.to_datetime(sheet_df[columns], dayfirst=True)
        return sheet_df

In [16]:
# Create an instance of the class
df_ops = DataFrameOperations()

In [17]:
# Define the columns to be used for data cleaning
columns = {
    'Year': 'int64',
    'Value': 'float64'
}